*{
    padding: 0;
    margin: auto;
}
.floor-4-wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.grid-map{
  display: grid;
  grid-template-columns: repeat(54, 1fr);
  grid-template-rows: repeat(32, 1fr);
  width: 100%;
  height: 100%;
  position: absolute;
}
.placeholder{
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cab-10-place{
  grid-column-start: 1;
  grid-column-end: 29;
  grid-row-start: 1;
  grid-row-end: 16;
  background-color: #005e10;
}
.cab-5-place{
  grid-column-start: 31;
  grid-column-end: 40;
  grid-row-start: 1;
  grid-row-end: 13;
  background-color: #2f40da;
}
.cab-7-place{
  grid-column-start: 44;
  grid-column-end: 49;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #8ada2f;
}
.cab-2-place{
  grid-column-start: 49;
  grid-column-end: 55;
  grid-row-start: 1;
  grid-row-end: 9;
  background-color: #cfda2f;
}
.cab-6-place{
  grid-column-start: 40;
  grid-column-end: 45;
  grid-row-start: 4;
  grid-row-end: 16;
  background-color: #2fda2f;
}
.cab-3-place{
  grid-column-start: 45;
  grid-column-end: 49;
  grid-row-start: 4;
  grid-row-end: 13;
  background-color: #aab9aa;
}
.cab-8-place{
  grid-column-start: 33;
  grid-column-end: 40;
  grid-row-start: 14;
  grid-row-end: 19;
  background-color: #c79a9a;
}
.cab-4-place{
  grid-column-start: 48;
  grid-column-end: 52;
  grid-row-start: 13;
  grid-row-end: 16;
  background-color: #ffae00;
}
.svg-wrapper{
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
svg{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* position: relative; */
    width: 100%;
    height: 100%;
}
.cab {
    opacity: 0.8;
}
