/*  =============================================================================  */
/*  Классы описывающие чекпоинты для переджвижения маркера(сотрудника) по 4 этажу  */
/*  =============================================================================  */

/*  Шаблон для атрибута grid-area: row-start / column-start / row-end / column-end;  */

.checkPoint-000 {
    grid-area: 18 / 29 / 19 / 30;
}

.checkPoint-001 {
    grid-area: 22 / 27 / 23 / 28;
}

.checkPoint-002 {
    grid-area: 18 / 32 / 19 / 33;
}

.checkPoint-003 {
    grid-area: 18 / 41 / 19 / 42;
}

.checkPoint-004 {
    grid-area: 18 / 54 / 19 / 55;
}

.checkPoint-005 {
    grid-area: 18 / 47 / 19 / 48;
}

.checkPoint-2 {
    grid-area: 15 / 53 / 16 / 54;
}

.checkPoint-2-1 {
    grid-area: 9 / 53 / 10 / 54;
}

.checkPoint-3 {
    grid-area: 15 / 46 / 16 / 47;
}

.checkPoint-4 {
    grid-area: 15 / 49 / 16 / 50;
}

.checkPoint-5 {
    grid-area: 15 / 32 / 16 / 33;
}

.checkPoint-5-1 {
    grid-area: 8 / 32 / 9 / 33;
}

.checkPoint-5-2 {
    grid-area: 2 / 36 / 3 / 37;
}

.checkPoint-6 {
    grid-area: 15 / 43 / 16 / 44;
}

.checkPoint-7 {
    grid-area: 2 / 43 / 3 / 44;
}

.checkPoint-8 {
    grid-area: 17 / 37 / 18 / 38;
}

.checkPoint-9 {
    grid-area: 23 / 22 / 24 / 23;
}

.checkPoint-9-1 {
    grid-area: 21 / 21 / 22 / 22;
}

.checkPoint-10 {
    grid-area: 15 / 27 / 16 / 28;
}

.checkPoint-10-1 {
    grid-area: 11 / 23 / 12 / 24;
}

.checkPoint-11 {
    grid-area: 21 / 18 / 22 / 19;
}

.checkPoint-12-1 {
    grid-area: 23 / 13 / 24 / 14;
}

.checkPoint-12-2 {
    grid-area: 24 / 10 / 25 / 11;
}

.checkPoint-12-3 {
    grid-area: 24 / 7 / 25 / 8;
}

.checkPoint-12 {
    grid-area: 23 / 19 / 24 / 20;
}

.checkPoint-13 {
    grid-area: 20 / 6 / 21 / 7;
}

.checkPoint-14 {
    grid-area: 21 / 12 / 22 / 13;
}

.checkPoint-15 {
    grid-area: 24 / 22 / 25 / 23;
}

.checkPoint-15-1 {
    grid-area: 26 / 22 / 27 / 23;
}

.checkPoint-16 {
    grid-area: 20 / 36 / 21 / 37;
}

.checkPoint-16-1 {
    grid-area: 23 / 36 / 24 / 37;
}
