/*  ====================  */
/*  Класс сетки 4 этажа   */
/*  ====================  */

.grid-map {
    display: grid;
    grid-template-columns: repeat(54, 1fr);
    grid-template-rows: repeat(34, 1fr);
    width: 100%;
    height: 100%;
    padding: 10.1744186vh 5.46875vw;
    position: absolute;
}

/*  =================================================   */
/*  Классы описывающие блоки, заполняющиеся маркерами   */
/*  =================================================   */

/*  Шаблон для атрибута grid-area: row-start / column-start / row-end / column-end;  */

.cab-1-place {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-area: 15 / 25 / 25 / 55;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cab-1-1-place {
    grid-area: 1 / 1 / 11 / 8;
    z-index: 2;
}
.cab-1-2-place {
    grid-area: 1 / 16 / 7 / 31;
    z-index: 2;
}

.cab-2-place {
    grid-area: 1 / 49 / 9 / 55;
}

.cab-3-place {
    grid-area: 4 / 45 / 13 / 49;
}

.cab-4-place {
    grid-area: 13 / 48 / 15 / 52;
}

.cab-5-place {
    grid-area: 1 / 31 / 12 / 40;
}

.cab-6-place {
    grid-area: 4 / 40 / 15 / 44;
}

.cab-7-place {
    grid-area: 1 / 44 / 4 / 49;
}

.cab-8-place {
    grid-area: 12 / 34 / 17 / 40;
}

.cab-9-place {
    grid-area: 15 / 20 / 22 / 25;
}

.cab-10-place {
    grid-area: 2 / 1 / 15 / 31;
}

.cab-11-place {
    grid-area: 15 / 17 / 21 / 20;
}

.cab-12-place {
    grid-area: 21 / 1 / 35 / 16;
}

.cab-13-place {
    grid-area: 15 / 1 / 21 / 9;
}

.cab-14-place {
    grid-area: 15 / 9 / 21 / 17;
}

.cab-15-place {
    grid-area: 25 / 16 / 35 / 32;
}

.cab-16-place {
    grid-area: 21 / 32 / 35 / 41;
}
