/*  Классы, для таких сущностей как: Покрывающая сетка, блок заполняемый маркерами, маркер*/
.grid-map {
    display: grid;
    grid-template-columns: repeat(54, 1fr);
    grid-template-rows: repeat(34, 1fr);
    padding: 70px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.placeholder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.person-icon {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0.2em;
    left: auto;
}

/*  Классы описывающие чекпоинты для переджвижения маркера(сотрудника) по карте.    */
.checkpoint {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    z-index: 2;
}


.checkPoint-2 {
    grid-column-start: 53;
    grid-column-end: 54;
    grid-row-start: 15;
    grid-row-end: 16;
}

.checkPoint-3 {
    grid-column-start: 46;
    grid-column-end: 47;
    grid-row-start: 15;
    grid-row-end: 16;
}

.checkPoint-4 {
    grid-column-start: 49;
    grid-column-end: 50;
    grid-row-start: 15;
    grid-row-end: 16;
}

.checkPoint-5 {
    grid-column-start: 32;
    grid-column-end: 33;
    grid-row-start: 15;
    grid-row-end: 16;
}

.checkPoint-5-1 {
    grid-column-start: 33;
    grid-column-end: 34;
    grid-row-start: 10;
    grid-row-end: 11;
}

.checkPoint-5-2 {
    grid-column-start: 37;
    grid-column-end: 38;
    grid-row-start: 3;
    grid-row-end: 4;
}

.checkPoint-6 {
    grid-column-start: 43;
    grid-column-end: 44;
    grid-row-start: 15;
    grid-row-end: 16;
}

.checkPoint-7 {
    grid-column-start: 43;
    grid-column-end: 44;
    grid-row-start: 2;
    grid-row-end: 3;
}

.checkPoint-8 {
    grid-column-start: 37;
    grid-column-end: 38;
    grid-row-start: 17;
    grid-row-end: 18;
}

.checkPoint-9 {
    grid-column-start: 22;
    grid-column-end: 23;
    grid-row-start: 22;
    grid-row-end: 23;
}

.checkPoint-10 {
    grid-column-start: 27;
    grid-column-end: 28;
    grid-row-start: 15;
    grid-row-end: 16;
}

.checkPoint-11 {
    grid-column-start: 18;
    grid-column-end: 19;
    grid-row-start: 21;
    grid-row-end: 22;
}

.checkPoint-12 {
    grid-column-start: 19;
    grid-column-end: 20;
    grid-row-start: 23;
    grid-row-end: 24;
}

.checkPoint-13 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 21;
    grid-row-end: 22;
}

.checkPoint-14 {
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 21;
    grid-row-end: 22;
}

.checkPoint-15 {
    grid-column-start: 22;
    grid-column-end: 23;
    grid-row-start: 24;
    grid-row-end: 25;
}

.checkPoint-16 {
    grid-column-start: 36;
    grid-column-end: 37;
    grid-row-start: 20;
    grid-row-end: 21;
}

.checkPoint-16-1 {
    grid-column-start: 36;
    grid-column-end: 37;
    grid-row-start: 23;
    grid-row-end: 24;
}

.checkPoint-000 {
    grid-column-start: 28;
    grid-column-end: 29;
    grid-row-start: 19;
    grid-row-end: 20;
}

.checkPoint-001 {
    grid-column-start: 26;
    grid-column-end: 27;
    grid-row-start: 23;
    grid-row-end: 24;
}

.checkPoint-002 {
    grid-column-start: 32;
    grid-column-end: 33;
    grid-row-start: 18;
    grid-row-end: 19;
}


/*  Классы описывающие блоки, заполняющиеся маркерами   */
/*  Шаблон для атрибута grid-area: row-start / column-start / row-end / column-end;  */
.cab-1-place {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-area: 15 / 25 / 25 / 55;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-color: teal; */
}

.cab-1-1-place {
    grid-area: 1 / 1 / 11 / 8;
    z-index: 2;
    /*background-color: #5fe912;*/
}
.cab-1-2-place {
    grid-area: 1 / 16 / 7 / 31;
    z-index: 2;
    /*background-color: tan;*/
}

.cab-2-place {
    grid-area: 1 / 49 / 9 / 55;
    /*background-color: #cfda2f;*/
}

.cab-3-place {
    grid-area: 4 / 45 / 13 / 49;
    /*background-color: #aab9aa;*/
}

.cab-4-place {
    grid-area: 13 / 48 / 15 / 52;
    /*background-color: #ffae00;*/
}

.cab-5-place {
    grid-area: 1 / 31 / 12 / 40;
    /*background-color: #2f40da;*/
}

.cab-6-place {
    grid-area: 4 / 40 / 15 / 44;
    /*background-color: #2fda2f;*/
}

.cab-7-place {
    grid-area: 1 / 44 / 4 / 49;
    /*background-color: #8ada2f;*/
}

.cab-8-place {
    grid-area: 12 / 34 / 17 / 40;
    /*background-color: #c79a9a;*/
}

.cab-9-place {
    grid-area: 15 / 20 / 22 / 25;
    /*background-color: #96de60;*/
}

.cab-10-place {
    grid-area: 2 / 1 / 15 / 31;
    /*background-color: #e702ec;*/
}

.cab-11-place {
    grid-area: 15 / 17 / 21 / 20;
    /*background-color: #ffae00;*/
}

.cab-12-place {
    grid-area: 21 / 1 / 35 / 16;
    /*background-color: #dea11d;*/
}

.cab-13-place {
    grid-area: 15 / 1 / 21 / 9;
    /*background-color: #db8a8a;*/
}

.cab-14-place {
    grid-area: 15 / 9 / 21 / 17;
    /*background-color: #5d3960;*/
}

.cab-15-place {
    grid-area: 25 / 16 / 35 / 32;
    /*background-color: #011d0d;*/
}

.cab-16-place {
    grid-area: 21 / 32 / 35 / 41;
    /*background-color: #ce99d9;*/
}
