*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --wall: #350714;
    --door: #072153;
    --wall-thickness: 8;
    --door-thickness: 4;
    --back-image: url("../images/intro.jpg");
}

.site-preview {
    opacity:0;
    transition: 2s;
}

/*при размера окна больше чем максимальное появляется пустое место как фиксить?*/
.preview {
    background: var(--back-image);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.floor-4-map-display {
    transition:  ease-in-out 3s;
}

.map-texture {
    --back-image: url("../images/perfect.jpg");
    background-size: 100% 100%;
    transition:  ease-in-out 2s;
}

.display {
    opacity: 0;
}

.text {
    position: absolute;
    text-align: center;
    font-size: 70px;
    /*margin:0 10% 0 10%;
    width:80%;*/
    width: 100%;
    padding-top: 10%;
    font-family: 'MedievalSharp', cursive;
}

@media (max-width: 2000px) {
    .text {
        font-size: 60px;
    }
}

@media (max-width: 1500px) {
    .text {
        font-size: 50px;
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 40px;
    }
}

.text-display {
    animation: textDisplay 1s;
    opacity: 0;
}

@-webkit-keyframes textDisplay {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.floor-4-wrapper {
    /*max-width: 2540px;
    max-height: 1440px;
    margin: 0 10% 0 10%;*/
    width: 100vw;
    height: 100vh;
    position: relative;
}

.floor-5-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.floor-5-container {
    width: 200vw;
    height: 100vh;
    overflow-x: scroll;
}

.svg-wrapper {
    background-position: 0 0;
    background-size: cover;
    width:100%;
    height: 100%;
    padding: 10.1744186vh 5.46875vw;
    position: absolute;
}

svg {
    width: 100%;
    height: 100%;
}

form {
    z-index: 100;
    width: 30vw;
    display: flex;
    background-color: green;
    position: fixed;
    opacity: 0.8;
}

form button {
    width: 50px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
}
